ul#menu li {
  display: inline;
  /* float: right; */
  padding-right: 5px;
}
#search {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
}
.input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  /* margin-top: -37px; */
  height: 34px;
  font-size: 16px;
  width: 540px;
  padding-left: 20px;
}
.lJ9FBc input[type="submit"],
.gbqfba {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.lJ9FBc {
  height: 70px;
}
.FPdoLc {
  padding-top: 18px;
}
body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}
form {
  display: block;
  margin-top: 0em;
}
#mainform {
  width: 75%;
}
.om7nvf {
  padding: 20px;
}

.ikrT4e {
  max-height: 160px;
}

.o3j99 {
  flex-shrink: 0;
  box-sizing: border-box;
}
.LS8OJ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.yr19Zb {
  min-height: 92px;
}
.o3j99 {
  flex-shrink: 0;
  box-sizing: border-box;
}
.n1xJcf {
  height: 60px;
}
.Ne6nSd {
  display: flex;
  align-items: center;
  padding: 6px;
}
.gb_Se {
  float: right;
  position: relative;
}
.LX3sZb {
  display: inline-block;
  flex-grow: 1;
}
.gb_Zd .gb_Wd {
  float: right;
  padding-left: 32px;
}
.gb_Wd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-left: 30px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.gb_Ld {
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-user-select: none;
}

body {
  background-color: #fafafa;
}

.container {
  margin-top: 200px;
}

.microphone {
  border-top-right-radius: 32px !important;
  border-bottom-right-radius: 32px !important;
  background-color: #fff;
}

.google {
  border-top-left-radius: 32px !important;
  border-bottom-left-radius: 32px !important;
  background-color: #fff;
}

.input-group-prepend {
  margin-right: -2px !important;
}

.input-group-append {
  margin-left: -2px !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}

.form-control {
  border-right: 0 !important;
  border-left: 0 !important;
}
.rSk4se {
  max-height: 92px;
  position: relative;
}
.lnXdpd {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
.LS8OJ {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.k1zIA {
  height: 100%;
  margin-top: auto;
}
.T8VaVe {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: absolute;
  left: 215px;
  bottom: 0;
  white-space: nowrap;
}
.appbar {
  color: #d93025;
  font-size: 20px;
  margin: 25px 0px;
}
.div.otByu {
  width: 100%;
  clear: both;
}
div.otByu div.yIQOUb {
  clear: both;
}
div.otByu div.FAcADc {
  float: left;
  display: inline-block;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  vertical-align: middle;
}
div.otByu div.jYcx0e {
  float: left;
  display: inline-block;
  min-width: 167px;
  min-height: 41px;
  vertical-align: middle;
  width: 50%;
}
div.otByu div.cwqNnb {
  float: left;
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
}
.gb_tc .gb_fe:before {
  content: url("https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg");
  display: inline-block;
  height: 24px;
  width: 74px;
}
.gb_rc {
  margin: 0px 15px;
}
div.otByu div.jYcx0e input[type="text"],
div.otByu div.jYcx0e span.PnexQd {
  width: 100%;
  text-align: left;
}
